h1
{color: #ffffff;
text-align: center;
text-transform- uppercase;
}
h2
{color:#0000ff;
text-transform: uppercase;
}
header
{background: #808080;
}
section
{bacgground: #808080;
}
a
{background: #808080;
color: #000000;
}
img
{display:none;
}
